body{
        background: black
}
.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sviet {
    width: 40%;
    height: 50%;
    border-radius: 20%;
}
.sviet:hover {
    cursor: pointer;
}


